.vagrant
.DS_Store
packer_cache/
._*
*.iso
*.box
*.rpm
*.log
*.tmp
*.tar.gz
*.zip
node_modules/
dist/
build/
.env
.idea/
.vscode/
*.swp
*.swo
*.bak
*.old
*.backup
*.class
*.jar
*.war
*.iml
*.exe
*.dll
*.pdb
*.lib
*.obj
